.letest{
    margin-top: 50px;
    text-align: center;
    background: #F8F8F8;
    padding-bottom: 40px;
}
.wrapper_card{
    width: 40%;
}
.wrapper_card img{
    transition: .4s;
    border-radius: 90px 0 90px 0;
}
.wrapper_card img:hover{
    box-shadow: 7px 7px 0 #b7bbba77;
    transform: translate(-5px, -5px);
    cursor: pointer;
}
.wrapper_card button{
    width: 240px;
    margin-top: 20px;
    height: 38px;
    border: none;
    border-radius: 20px 0 20px 0;
    background: #37806B;
    color: #fff;
    font-weight: 600;
    transition: .4s;
}
.wrapper_card button:hover{
    box-shadow: 7px 7px 0 #37806b77;
    transform: translate(-5px, -5px);
    cursor: pointer;
}